.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform .6s ease-in-out;
  z-index: 100;

  .overlay {
    background: #ff416c;
    background: linear-gradient(to right, #b758c6, #b758c6) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
    display: flex;

    .overlay-panel {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
      height: 100%;
      width: 50%;
      text-align: center;
      transform: translateY(0);
      transition: transform .6s ease-in-out;
    }

    .overlay-left {
      transform: translateY(-20%);
    }

    .overlay-right {
      right: 0;
      transform: translateY(0);
    }

    .text-signup {
      align-items: center;
      justify-content: center;

      button {
        background: #b758c6;
        border-color: #d0ac08;

        &:hover {
          border: 2px solid #a68903;
          background: #780683;
        }

        button:focus {
          outline: none;
        }
      }
    }
  }
}