body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(200, 0, 231);
}
#title {
    text-align: center;
    color:#D1AE6C;
}
footer {
    margin-bottom: 0px;
    color: white;
}