.form-container {
  box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
  position: relative;
  overflow: hidden;

  form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;

    input {
      background: #eee;
      border: none;
      padding: 12px 15px;
      margin: 8px 0;
      width: 100%;
    }

    a {
      color: #0e263d;
      font-size: 14px;
      text-decoration: none;
      margin: 15px 0;

      &:hover {
        color: #008ecf;
        text-decoration: underline #008ecf;
      }
    }

    button {
      background: #b758c6;
      border-color:  #d0ac08;

      &:hover {
        border: 2px solid #a68903;
        background: #780683;
      }

      button:focus {
        outline: none;
      }
    }
  }
}