.container-footer {
  background-color:#b758c6;
  display: flex;
  position: absolute;
  width: 100vw;
  height: 10vh;

  .footer-info {
    padding: 0;
    margin: 15px 0 0 25px;
    text-align:center;
    font-size:13px;
    color: #ffffff;
  }
}
